[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
After=graphical.target

[Service]
Type=forking
ExecStart=/bin/bash -c '/usr/bin/emacs --daemon'
ExecStop=/user/bin/emacsclient --eval '(save-buffers-kill-emacs)'

Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Environment=LSP_USE_PLIST=true
Restart=on-failure

[Install]
WantedBy=hyprland.target
