[Unit]
Description=Eww Daemon
After=hyprland.target
Wants=hyprland.target
BindsTo=hyprland.target

[Service]
Type=simple
ExecStart=/usr/bin/eww daemon
ExecStop=/usr/bin/eww kill
Restart=on-failure
RestartSec=5

[Install]
WantedBy=hyprland.target
