[Unit]
Description=Hyprshell daemon
Wants=hyprland.target
BindsTo=hyprland.target
PartOf=hyprland.target
Before=hyprland.target

[Service]
EnvironmentFile=-/tmp/hypr/env
ExecStart=%h/src/go/bin/hyprshell daemon
Restart=always
RestartSec=2

[Install]
WantedBy=default.target