[Unit]
Description=Hyprland Target
Documentation=man:systemd.special(7)
Requires=hyprland.service
After=hyprland.service
AllowIsolate=yes


BindsTo=graphical-session.target
Before=graphical-session.target
