[Unit]
Description=Start Hyprland with systemd
BindsTo=hyprland.target
PartOf=hyprland.target
Before=hyprland.target
After=systemd-user-sessions.target

[Service]
Type=simple
Environment=LIBSEAT_BACKEND=logind
ExecStart=/usr/bin/Hyprland
ExecStopPost=/usr/bin/loginctl kill-user %i

[Install]
WantedBy=default.target