[Unit]
Description=Start Hyprland with systemd
BindsTo=hyprland.target
PartOf=hyprland.target
Before=hyprland.target
After=multi-user.target network.target systemd-logind.service


BindsTo=graphical-session.target
Before=graphical-session.target

[Service]
Type=simple
Environment=LIBSEAT_BACKEND=logind
ExecStart=/bin/bash -l -c '/usr/bin/Hyprland'
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
