/.zsh/history
*.elc
/.emacs.d/elpa/
/.emacs.d/straight/
/.emacs.d/var/
/.zsh/zsh-syntax-highlighting/
/.emacs.d/eln-cache/
/.config/alacritty/catppuccin/
/.emacs.d/oauth2-auto.plist
/.emacs.d/.org-generic-id-locations
/.config/eww/scripts/eww-weather
/.config/eww/scripts/submap
/.config/eww/pkg/eww-weather/eww-weather
*.ics
/doc/*.org_archive
*.org
/.emacs.d/lisp/init-gcal.el
/.config/systemd/user/default.target.wants/
*.wants/
/.config/systemd/user/pipewire-session-manager.service
/.emacs.d/.cask/
/doc/pdfs/
/.emacs.d/tree-sitter/
/.emacs.d/org-clock-save.el
/.emacs.d/etc/
/Pictures/
/.emacs.d/codeium/
/.config/hypr/monitors.conf
/.config/sptlrx/config.yaml

.config/hypr/monitors.conf
/ltximg/
/.emacs.d/tramp
/.emacs.d/transient/
/.emacs.d/type-break
/.emacs.d/recentf
/.emacs.d/projects
/.emacs.d/places
/.emacs.d/package-quickstart.el
/.emacs.d/org-roam.db
/.emacs.d/history
/.emacs.d/forge-database.sqlite
/.emacs.d/auto-save-list/
/.emacs.d/multisession/
/.emacs.d/eshell/
/.emacs.d/.cache/
/.local/bin/emacs-lsp-booster
/.emacs.d/bookmarks
/.emacs.d/persist/
/.emacs.d/.org-id-locations
*/custom.el
/.emacs.d/jinx_corrections
/.emacs.d/forge-database-v11-20240130-1145.sqlite
/.emacs.d/elpaca/
/.emacs.d/url/
/.emacs.d/speed-type/
/.emacs.d/*.desktop
/.emacs.d/customs.el
*.lock
/.emacs.d/.mc-lists.el
*.desktop
