@import 'css/colors_melissa_dark';
@import 'css/colors';

$fg: $fg-main;
$bg: $bg-main;
$border: $bg-alt;
$shadow: $bg-dim;

* {
  all: unset;
  color: $fg-main;
  transition: 350ms ease;
  font-family: Iosevka, Material Icons;
  font-weight: bold;
}

@mixin rounding {
  border-radius: 16px;
}

@mixin window {
  border: 1px solid $border;
  box-shadow: 0px 2px 5px $shadow;
  margin: 10px;
  @include rounding;
}

@mixin hoverable {
    @include rounding;
    &:hover {
        background: $border;
    }
}

.icon {
    font-family: Material Icons;
}

.bar, .sidebar {
  background-color: $bg;
  color: $fg;
  padding-bottom: 5px;
  label {
    font-size: 1.2rem;
  }
}

.bar {
    padding-left: 48px;
}

tooltip, menu {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;
  label {
    font-size: 1rem;
  }
}

menu {
	padding: 10px;
	@include window;
}

.checkbox {
	border-radius: 6px;
	margin: 4px;
	border: 2px solid $border;
	background: $bg-dim;
}

.module {
    @include hoverable;
    padding: 0px 10px;
}

.bright-icon { color: $yellow; }
.module-bt {
	font-size: 1.2rem;
}

scale trough {
  background-color: $bg-dim;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

@mixin corners($direction) {
  background: radial-gradient(at $direction, transparent 70%, $bg 0%);
}

.corners-ul {
  @include corners(bottom right);
}

.corners-ur {
  @include corners(bottom left);
}

.corners-bl {
  @include corners(top right);
}

.corners-br {
  @include corners(top left);
}

.mr-15 {
    margin-right: 15px;
}

.title {
	margin-left: 5px;
	// for some reason firefox app titles are rendering lower. this ensures that the bar height isn't forced to be
	// bigger.
	margin-bottom: -10px;
	color: $surface0;
}

@import 'css/calendar';
@import 'css/music';
@import 'css/osd';
@import 'css/system';
@import 'css/volume';
@import 'css/pomodoro';
@import 'css/center';
@import 'css/weather';
@import 'css/mode';
@import 'css/apps';
@import 'css/tasks';
@import 'css/workspaces';
