@import 'css/colors';

@mixin rounding {
  border-radius: 16px;
}

@mixin window {
  border: 1px solid $border;
  box-shadow: 0 2px 3px $shadow;
  @include rounding;
}

@mixin hoverable {
    @include rounding;
    &:hover {
        background: $border;
    }
}

* {
  all: unset;
  transition: 250ms ease;
  font-family: Google Sans, Material Icons;
  font-weight: bold;
}

.icon {
    font-family: Material Icons;
}

@import 'css/calendar';
@import 'css/music';
@import 'css/osd';
@import 'css/sidebar';
@import 'css/system';
@import 'css/volume';
@import 'css/pomodoro';
@import 'css/center';
@import 'css/weather';
@import 'css/mode';
@import 'css/apps';
@import 'css/tasks';


.bar, .sidebar {
  background-color: $bg;
  color: $fg;
  padding-bottom: 5px;
  // margin: 0px 200px 0px 200px;
  label {
    font-size: 1.2rem;
  }
}

.bar {
    padding-left: 48px;
}

tooltip {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;

  label {
    font-size: 1rem;
  }
}

.ws {
	@include hoverable;
    border-radius: 50%;
}

.checkbox {
	border-radius: 6px;
	margin: 4px;
	// padding-top: 15px;
	border: 2px solid $border;
	background: $crust;

}


.ws-icon {
    background-position: center;
    background-size: cover;
	// make them pop out of circle a little more
	margin: -5px;
	padding: 5px;
}

.module {
    @include hoverable;
    padding: 0px 10px;
}

.date {
  background: $bg;
  color: $flamingo;

  label {
    font-size: 1.2rem;
  }
}

.bright-icon { color: $yellow; }
.module-bt { font-size: 1.2rem; }

scale trough {
  background-color: $bg1;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

.corners-ul {
    background: radial-gradient(at bottom right, transparent 70%, $bg 0%);
}
.corners-ur {
    background: radial-gradient(at bottom left, transparent 70%, $bg 0%);
}
.corners-bl {
    background: radial-gradient(at top right, transparent 70%, $bg 0%);
}
.corners-br {
    background: radial-gradient(at top left, transparent 70%, $bg 0%);
}

.mr-15 {
    margin-right: 15px;
}

.title {
	margin-left: 5px;
	color: $surface1;
}

