@define-color accent_color #e4b53f;
@define-color accent_fg_color #352718;
@define-color accent_bg_color #e4b53f;
@define-color window_bg_color #352718;
@define-color window_fg_color #e8e4b1;
@define-color headerbar_bg_color #352718;
@define-color headerbar_fg_color #e8e4b1;
@define-color popover_bg_color #352718;
@define-color popover_fg_color #e8e4b1;
@define-color view_bg_color #352718;
@define-color view_fg_color #e8e4b1;
@define-color card_bg_color #352718;
@define-color card_fg_color #e8e4b1;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color theme_selected_bg_color alpha(@accent_color, 0.15);
@define-color theme_selected_fg_color @primary;

