* {
    font-family: Iosevka, Material Icons Outlined;
    font-size: 12px;
    color: #e6d6ac;
	transition: 350ms slide;
}

@define-color border #1a130c;
@define-color shadow #352718;
@define-color bg #281d12;
@define-color bg-alt #59463f;
@define-color hover #483426;
@define-color hover #483426;
@define-color selected #50331e;
@define-color fg-alt #d5c4a1;
@define-color ac #a2c080;



.notification-row:focus,
.notification-row:hover {
    padding-left: 15px;
    background: @selected;
}

.notification {
	margin: 6px 12px;
	box-shadow: 0px 2px 4px 2px @hover;
	padding: 0;
}

.notification-content {

}

.close-button {
	margin-top: 10px;
	margin-right: 12px;
	background: @selected;
}

.close-button:hover {
    background: @theme_selected_bg_color;
}
.notification-default-action,
.notification-action {
	margin: 0;
	box-shadow: none;
	background: @bg;
		border: 1px solid @border;
}

.notification-default-action:hover,
.notification-action:hover {
	background: @bg;
		box-shadow: 0px 2px 4px 2px @hover;
	border-color: @borders;
}

.notification-default-action {
	border-radius: 10px;
}

.notification-action {
	border-radius: 0px;
	border-top: none;
	border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
	border-bottom-left-radius: 10px;
}
.notification-action:last-child {
	border-bottom-right-radius: 10px;
}

.image {
}

.body-image {
	margin-top: 6px;
	border-radius: 20px;
}

.summary {
	text-shadow: none;
}

.time {
	color: @fg-alt;
	text-shadow: none;
	font-size: 18px;
}

.body {
	text-shadow: none;
}

.widget-title {
	margin-right: 20px;
}

.widget-dnd {
    margin-top: -40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 420px;
    font-size: 80px;
}

.top-action-title {
	text-shadow: none;
	font-size: 16px;
}

.control-center-clear-all {
	padding: 5px;
	text-shadow: none;
	background: @bg_alt;
		border: 1px solid @shadow;
	box-shadow: none;
	border-radius: 10px;
}
.control-center-clear-all:hover {
	background: @bg-hover;
}

.control-center-dnd {
	border-radius: 20px;
	background: @shadow;
		border: 1px solid @border;
}

.control-center-dnd:checked {
	background: @ac;
}
.control-center-dnd:checked slider {
	background: @shadow;
		border-radius: 20px;
}

.control-center-dnd slider {
	background: @ac;
		border-radius: 20px;
}

.control-center {
    background: @bg;
		padding-top: 16px;
	border-radius: 16px;
	border: 1px solid @border;
	box-shadow: 0 2px 3px @shadow;
}
