
@define-color border-color rgb(18, 23, 28);
@define-color shadow-color rgba(10, 11, 13, 0.3);
@define-color bg rgb(40, 44, 52);
@define-color bg-selected rgb(255, 108, 107);
@define-color fg rgb(223, 223, 223);

* {
    font-family: Cozette;
    font-size: 22px;
}


.notification-row {
  outline: none;
  margin-left: 20px;
}
.notification-row:focus,
.notification-row:hover {
  background: @bg-focus;
}

.notification {
  border-radius: 10px;
  margin: 6px 12px;
  box-shadow: 0px 2px 4px 2px @shadow-color;
  padding: 0;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 10px;
}

.close-button {
  background: @unfocused_borders;
  color: @fg;
  text-shadow: none;
  padding: 2px 2px;
  border-radius: 100%;
}
.close-button:hover {
  background: @borders;
  transition: all 0.15s ease-in-out;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @bg;
  border: 6px solid @unfocused_bg_color;
}

.notification-default-action:hover,
.notification-action:hover {
  background: @theme_selected_bg_color;
}

.notification-default-action {
  border-radius: 10px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}
.notification-action:last-child {
  border-bottom-right-radius: 10px;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: @fg;
  border-radius: 20px;
}

.summary {
  color: @fg;
  text-shadow: none;
}

.time {
  color: rgb(115, 121, 126);
  text-shadow: none;
  font-size: 18px;
}

.body {
  background: transparent;
  color: @fg;
  text-shadow: none;
}

.widget-title {
  margin-left: 100px;
}

.widget-dnd {
    margin-left: 100px;
}

.top-action-title {
  margin-top: 20px;
  color: @fg;
  text-shadow: none;
  font-size: 16px;
}

.widget-mpris {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.control-center-clear-all {
  margin-top: 20px;
  color: @fg;
  text-shadow: none;
  background: @bg;
  border: 2px solid @border-color;
  box-shadow: none;
  border-radius: 10px;
}
.control-center-clear-all:hover {
  background: @bg-hover;
}

.control-center-dnd {
  border-radius: 20px;
  background: @bg;
  border: 1px solid @border-color;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @bg-selected;
}
.control-center-dnd slider {
  background: @bg-hover;
  border-radius: 20px;
}

.control-center {
  background: @theme_base_color;
  border-radius: 100px 0px 0px 100px;
  border: 7px solid @unfocused_selected_bg_color;
  border-right: 0;
}
.control-center-list {
  background: transparent;
}

.floating-notifications {
  /* background: transparent; */
}
