* {
    font-family: Cozette;
    font-size: 18px;
}

window {
    background-color: rgba(40, 44, 52, 0.95);
    color: rgb(223, 223, 223);
    border: 4px solid #c678dd;
    border-bottom: 4px solid rgb(40, 44, 52);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

list {
    background: none;
    border-radius: 15px;
}

entry {
    background-color: rgba(0, 0, 0, 0.2);
}

button {
    background: none;
    border: none
}

button:hover {
    background-color: rgba(198, 120, 221, 0.2);
}
