$bg-main: #352718;
$fg-main: #e8e4b1;
$bg-dim: #483426;
$fg-dim: #90918a;
$bg-alt: #59463f;
$fg-alt: #a2c080;
$bg-active: #79665f;
$bg-inactive: #3d2e1f;
$red: #ff7f7f;
$red-warmer: #ff7f4f;
$red-cooler: #ff8f98;
$red-faint: #e89a88;
$green: #6fd560;
$green-warmer: #a0d13a;
$green-cooler: #65d590;
$green-faint: #a0d26f;
$yellow: #e4b53f;
$yellow-warmer: #ffa21f;
$yellow-cooler: #e7a06f;
$yellow-faint: #eac29f;
$blue: #57aff6;
$blue-warmer: #98bfff;
$blue-cooler: #62cfef;
$blue-faint: #6ab4ef;
$magenta: #f0aac5;
$magenta-warmer: #fa90aa;
$magenta-cooler: #c6a2fe;
$magenta-faint: #dfcfe0;
$cyan: #6fcad0;
$cyan-warmer: #7fc5df;
$cyan-cooler: #70e0cf;
$cyan-faint: #99bfcf;
$bg-red-intense: #b02930;
$bg-green-intense: #4a7100;
$bg-yellow-intense: #8f5040;
$bg-blue-intense: #4648d0;
$bg-magenta-intense: #a04fc5;
$bg-cyan-intense: #2270cf;
$bg-red-subtle: #72002a;
$bg-green-subtle: #00422a;
$bg-yellow-subtle: #603000;
$bg-blue-subtle: #242679;
$bg-magenta-subtle: #501f72;
$bg-cyan-subtle: #004065;
$bg-added: #2f491f;
$bg-added-faint: #2f3b0f;
$bg-added-refine: #3f6234;
$fg-added: #a0e0a0;
$bg-changed: #544a0f;
$bg-changed-faint: #43350f;
$bg-changed-refine: #615f1f;
$fg-changed: #dada90;
$bg-removed: #622a1f;
$bg-removed-faint: #4b240a;
$bg-removed-refine: #7f3325;
$fg-removed: #ffbfbf;
$bg-graph-red-0: #b52c2c;
$bg-graph-red-1: #702020;
$bg-graph-green-0: #0fed00;
$bg-graph-green-1: #007800;
$bg-graph-yellow-0: #f1e00a;
$bg-graph-yellow-1: #b08940;
$bg-graph-blue-0: #2fafef;
$bg-graph-blue-1: #1f2f8f;
$bg-graph-magenta-0: #bf94fe;
$bg-graph-magenta-1: #5f509f;
$bg-graph-cyan-0: #47dfea;
$bg-graph-cyan-1: #00808f;
$bg-mode-line: #704f00;
$fg-mode-line: #f8efd8;
$bg-completion: #66421f;
$bg-hover: #60518f;
$bg-hover-secondary: #5a661f;
$bg-hl-line: #4f311f;
$bg-paren: #5f6f1f;
$bg-err: #571a05;
$bg-warning: #4e4310;
$bg-info: #2f4302;
$border: #6f5f58;
$cursor: #f9cf7a;
$fg-intense: #ffffff;
$modeline-err: #ffbfbf;
$modeline-warning: #dfd443;
$modeline-info: #7fefff;
$underline-err: #df2f2f;
$underline-warning: #c0b000;
$underline-info: #22b022;
$bg-char-0: #0050af;
$bg-char-1: #7f1f7f;
$bg-char-2: #6f6600;
$bg-region: #443a4f;
