.ct_box {
    @include rounding;
    @include window;
    background-color: $mantle;
    margin: 10px;
    padding: 10px;
}
.clock {
    @include hoverable;
}

.hour {
  font-weight: bold;
  margin-left: 5px;
}


.quote {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-size: 1.5rem;
}

.author {
    color: $maroon;
}
