$red:         #ff7f7f;
$flamingo:    #ff7f4f;
$maroon:      #ff8f98;

$green:       #6fd560;

$teal:        #65d590;

$yellow:      #e4b53f;
$peach:       #ffa21f;


$blue:        #57aff6;

$sapphire:    #62cfef;

$pink:        #f0aac5;
$mauve:       #fa90aa;
$lavender:    #c6a2fe;
$rosewater:   #dfcfe0;
$sky:         #6fcad0;


$text:        #e8e4b1;
$subtext1:    #d5ce72;
$subtext0:    #ede9c1;
$overlay2:    #fbf1c7;
$overlay1:    #d5c4a1;
$overlay0:    #90918a;

$surface2:    #573117;
$surface1:    #50331e;
$surface0:    #483426;

$base:        #352718;
$mantle:      #281d12;
$crust:       #1a130c;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$border: $mantle;
$shadow: $crust;
