$rosewater:   #e68183;
$flamingo:    #d3a0bc;
$pink:        #d3a0bc;
$mauve:       #e68183;
$red:         #e68183;
$maroon:      #d3a0bc;
$peach:       #e39b7b;
$yellow:      #d9bb80;
$green:       #87af87;
$teal:        #87af87;
$sky:         #89beba;
$sapphire:    #89beba;
$blue:        #458588;
$lavender:    #458588;

$text:        #e6d6ac;
$subtext1:    #d8caac;
$subtext0:    #fbf1c7;
$overlay2:    #fbf1c7;
$overlay1:    #d5c4a1;
$overlay0:    #928374;

$surface2:    #7c6f64;
$surface1:    #5b5b5b;
$surface0:    #3c3836;

$base:        #282828;
$mantle:      #1d2021;
$crust:       #0d1011;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$border: $mantle;
$shadow: $crust;
