.osd {
  @include window;
  background: $bg;

  label {
    font-size: 2rem;
  }
}

.osd trough {
  background-color: $bg-dim;
  margin: 1rem 0 .5rem;
  min-height: 10rem;
  min-width: 3px;
  @include rounding;

  highlight {
    min-width: 0;
    @include rounding;
  }
}

.osd_vol highlight {
  background-image: linear-gradient(to top, $green-cooler 30%, $cyan 100%);
}

.osd_brightness highlight {
  background-image: linear-gradient(to top, $yellow 30%, $yellow-warmer 100%);
}
