.TODO, .INPROGRESS, .NEXT, .DONE, .PROJECT {
	padding-right: 8px;
}

.TODO, .INPROGRESS, .NEXT {
    padding-left: 10px;
    color: $peach;
	font-family: monospace;
}

.DONE {
	font-family: monospace;
    padding-left: 15px;
	color: $overlay0;
}

.PROJECT {
    color: $green;
	font-size: 1.3rem;
    padding-top: 15px;
}


.project {
	font-size: 1.2rem;
    padding-top: 15px;
    color: $teal;
}
.task {
	@include hoverable;
	&:hover {
        background: $base;
    }
	color:  $subtext1;

}

.task-label {
	@include hoverable;
	&:hover {
        background: $base;
    }
	// margin: 5px;

	color: $sky;
	padding-right:  15px;
	padding-left:  5px;
}

.task-row {
	@include hoverable;
	&:hover {
        background: $base;
    }
	// margin-top: 5px;
	// margin-bottom:  5px;
}

.toggle-bg {
	border-radius: 20;
	background-color: $crust;
	color: $subtext1;
}

.toggle {
	@include window;
	border-radius: 20;
	background-color: $sky;
	color: $base;
}

.filler-sloth {
	background-image: url('images/sleepy-sloth.png');
	    background-position: center;
    background-size: cover;
    min-height: 150px;
    margin: 30px;

}
