.weather-forecast-box {
    @include rounding;
    margin: 5px;
    padding: 8px;
    background: linear-gradient(45deg, $mantle 0%, $sapphire 100%);
}

.weather-date {
    color: $crust;
    text-decoration: underline;
}

.weather-sep {
    color: $mantle;
    font-weight: bold;
    text-decoration: underline;
}

.title-bar {
    padding: 5px;
    @include rounding;
   background: linear-gradient(45deg, $sapphire 0%, $blue 25%, $sky 50%, $blue 75%, $teal 100% );
}

.weather-label {
	font-family: Weather Icons;
    color: $bg;
    font-size: 1.2rem;
}

.moon-label {
    color: $lavender;
    font-weight: bold;
}

.weather-moon, .moon-label {
    font-size: 1.5rem;
}

.active-moon {
   padding: 10px;
   background: radial-gradient($yellow, $mantle 65%);
   border-radius: 50%;
}

.weather-icon {
	font-family: Weather Icons;
    font-size: 2rem;
    padding-bottom: 5px;
    margin-right: 0px;
}

.weather-max {
    color: $yellow;
    padding-left: 5px;
}

.weather-min {
    color: $teal;
    padding-right: 5px;
}

.weather-min, .weather-max {
    font-size: 0.9rem;
}

.weather-state {
    font-size: 1.2rem;
        color: $subtext1;
}
