.ws {
	@include hoverable;
	border-radius: 50%;
}


.ws-icon {
	background-position: center;
	background-size: cover;
	// make them pop out of circle a little more
	margin: -5px;
	padding: 5px;
}

.ws-app-box {
	margin: -19px;
	margin-bottom: -25px;
	padding-right: 5px;
}

.ws-end {
	margin-bottom: 60px;
}

.ws-app-icon {
	background-position: center;
	background-size: cover;
	margin: 12px;
}
