$pink:        #f0aac5;
$mauve:       #fa90aa;
$lavender:    #c6a2fe;
$rosewater:   #dfcfe0;

$subtext1:    #d5ce72;
$subtext0:    #ede9c1;
$overlay2:    #fbf1c7;
$overlay1:    #d5c4a1;
$overlay0:    #90918a;

$surface2:    #573117;
$surface1:    #50331e;
$surface0:    #483426;


$blue: #447E80;
$green: #7F9F7F;
$yellow: #BDB76B;
$orange: #D7875F;
