* {
    font-family: Cozette;
    font-size: 23px;
}

window {
    background-color:rgba(40, 44, 52, 0.95);
    color: rgb(223, 223, 223);
    border: 10px solid #c678dd;
    border-top: 0;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

/* search entry */
entry {
    background-color: rgba(0, 0, 0, 0.2)
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: rgba(198, 120, 221, 0.2);
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}
